body {
    /* border: 2px solid red; */
    background-color: rgb(21, 21, 74);
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }
  
  /* Navigation Section */
  
  #body-header {
    background-color: rgb(7, 7, 18);
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: 10px;
    /* flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start; */
  }
  
  /* #navigation {
  }
  
  #navigation div img {
    height: 60px;
    width: auto;
  } */
  
  #body-header nav ul {
    display: inline-block;
    margin-left: 10px;
    padding-left: 7px;
  }
  
  #body-header nav ul li {
    margin-left: 10px;
    padding-left: 7px;
  }
  
  #body-header nav ul a img {
    height: 30px;
    color: white;
    text-decoration: none;
  }
  
  #body-header nav ul li #profile {
    border-radius: 50%;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Horizontal Lists */
  
  .horizontal-list {
    list-style: none;
    padding-left: 0px;
  }
  
  .horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
  }
  
  .horizontal-list li a {
    color: white;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
  }
  
  .horizontal-list li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
  }
  
  .text-center {
    text-align: center;
  }
  
  main {
    display: inline-block;
    padding: 5px;
    margin: 5px;
  }
  
  /* Top scroll section */
  
  #top-scroll {
    height: 250px;
  
    display: flex;
    justify-content: space-between;
  }
  
  #top-scroll div img {
    height: 230px;
    width: 18vw;
    margin: 10px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Latest Release Section */
  
  /* #latest-release {
    border: 2px solid orange;
  } */
  
  #latest-release-main {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(11, 3, 3, 0.272);
    margin: 10px;
  }
  
  #latest-release-main div {
    /* border: 2px solid lightcoral; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    padding: 5px;
  }
  
  .duration {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
  }
  
  #latest-release-main div .song-details {
    display: inline-block;
    line-height: 1px;
    font-size: 0.9rem;
  }
  
  #latest-release-main div img {
    height: 80px;
    width: 60px;
  }
  
  #latest-release-main div .duration .play {
    width: 14px;
    color: cyan;
    background-color: rgba(11, 3, 3, 0.272);
    border: 0px solid rgba(11, 3, 3, 0.272);
  }
  
  .play option {
    width: 15px;
    background-color: white;
    color: black;
  }
  
  .duration p {
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  /* Popular artists Section */
  
  /* #popular-artist {
    height: 100px;
    line-height: 1px;
  } */
  
  #artists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0.5rem;
  }
  
  #artists img {
    height: 100px;
    width: 80px;
    border-radius: 50%;
  }
  
  #artists div p {
    text-align: center;
    font-size: 1rem;
  }
  
  /* #play-button {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: black;
    transition: 1s ease-in-out;
  } */
  
  /* #play-button:hover {
  
  } */
  
  #artists div img:hover {
    opacity: 0.7;
    color: black;
    /* background-image: url(<iclass="fa-solid fa-play"></i>); */
  }
  
  /* Stations Section */
  
  #stations {
    background-color: rgb(30, 30, 115);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0.6rem;
    /* border: 2px solid orange; */
  }
  
  .station-logo img {
    height: 80px;
    width: auto;
    border-radius: 15px;
  }
  
  .genre img {
    height: 80px;
    width: 70px;
    border-radius: 50%;
    opacity: 0.7;
    padding: 0rem 0.2rem;
  }
  /* Categories */
  
  #categories {
    display: flex;
    justify-content: space-between;
  }
  
  #categories img {
    height: 95px;
    width: 16vw;
    opacity: 0.5;
    text-align: center;
  }
  
  /* .center {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
  } */
  
  * {
    box-sizing: border-box;
  }
  
  .zoom {
    transition: transform 0.2s;
    height: 95px;
    width: 16vw;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    /* overflow: hidden; */
    box-shadow: 0 0 5px 1px rgba(0, 140, 186, 0.5);
  }
  
  /* Latest Telugu- Hindi songs section */
  
  #latest-telugu-hindi {
    height: 130px;
    padding: 0px 0px 15px 0px;
  }
  
  .th-song {
    display: flex;
    justify-content: space-between;
    line-height: 1px;
    /* border: 2px solid orange; */
    /* padding: 0px 5px; */
  }
  
  .th-song img {
    height: 80px;
    width: 8vw;
    margin-right: 0.2rem;
  }
  
  /* Aside section */
  aside {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }
  
  aside div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  aside div form div p #queue {
    width: 15px;
    color: cyan;
    background-color: rgb(21, 21, 74);
    border: 0px solid rgb(21, 21, 74);
  }
  
  aside div form div p {
    color: cyan;
  }
  
  aside div form div p #queue option {
    width: 15px;
    color: black;
    background-color: white;
    /* border: 0px solid rgb(21, 21, 74); */
  }
  
  .queues {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8vh 2vw;
    background-color: rgba(11, 3, 3, 0.272);
    margin-bottom: 4px;
  }
  
  .queues img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
  
  /* .sub-queues {
    display: flex;
    justify-content: space-between;
    padding: 5px 17px;
    border: 2px solid orange;
  } */
  
  .song-details {
    display: block;
    line-height: 1px;
    font-size: 0.9rem;
  }
  
  .artist {
    color: grey;
    font-size: 0.6rem;
  }
  
  .fa-heart:hover {
    color: cyan;
  }
  
  fa-regular {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
  }
  